

<li class="list-group-item">
	<h3 class="text-center"><strong>{{burger_name}}</strong></h3>
	{{#if devoured}}
	<button class="eaten btn btn-info" data-id="{{id}}" data-neweaten="{{devoured}}" > Eat Me!
	</button>{{/if}}
</li>
